extends ./layout

block content
  h1 Profile
  if (!user)
    p Welcome! Please 
      a(href='/login') log in
      | .
  else 
    p id: #{user.id}
    p Username: #{user.username}
    p Name: #{user.displayName}
    p
      img(src='#{user.photos[0].value}')
    pre
      | !{JSON.stringify(user, null, '  ')}
